HOST1=mail.mailserver.com
USER1=user1@example.com
PASSWORD1=1234
HOST2=mail.mailserver.com
USER2=user2@example.com
PASSWORD2=123445
EXTRA_PARAMS="--maxage 30 --nofoldersizes --nofoldersizesatend --automap"
SYNC_INTERVAL=3600
HEALTHCHECK_URL=http://localhost:8000/healthcheck